<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="{{ url('static', filename='jquery.min.js') }}"></script>
    <script>
        function redirect(url) {
            window.location.href = url;
        }
    </script>
</head>
<body>
    %if adres:
        <div id="adres" data-adres="{{ adres }}"></div>
        <script>
            redirect($("#adres").data('adres'))
        </script>
    %else:
        Hata
    %end
</body>
</html>